{% extends "layout.html" %}

{% block content %}

  <h2>Reseptin lisäys</h2>

  <form action="/add_recipe" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
      Reseptin nimi:<br>
      <input type="text" name="recipe_name" />
    </p>    
    <p>
      Ainekset (kirjoita jokainen aines omalle rivilleen):<br>
      <textarea name="ingredients" rows="5" cols="40"></textarea>
    </p>
    <p>
      Ohjeet (kirjoita jokainen askel omalle rivilleen):<br>
      <textarea name="instructions" rows="5" cols="40"></textarea>
    </p>
    <p>
      Valitse soveltuvat luokat:<br>
      {% for category in categories %}
        <input type="checkbox" name="category" value="{{ category.id }}"/>{{ category.category_name }}<br>
      {% endfor %}
    </p>
    <input type="submit" value="Lisää" />
  </form>
  
{% endblock %}
