{% extends "layout.html" %}

{% block content %}

  {% if recipe %}
    <h2>Muokkaa reseptiä</h2>
  {% else %}
    <h2>Lisää resepti</h2>
  {% endif %}

  <form {% if recipe %}action="/edit_recipe/{{ recipe.id }}"{% else %}action="/add_recipe"{% endif %} method="POST">

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
      <label for="recipe_name">Reseptin nimi</label>:<br>
      <input type="text" maxlength="100" id="recipe_name" name="recipe_name" {% if recipe %}value="{{ recipe.title }}"{% endif %}/>
    </p>    
    <p>
      <label for="ingredients">Ainekset (kirjoita jokainen aines omalle rivilleen)</label>:<br>
      <textarea maxlength="5000" id="ingredients" name="ingredients" rows="5" cols="40">{{ ingredients }}</textarea>
    </p>
    <p>
      <label for="instructions">Ohjeet (kirjoita jokainen askel omalle rivilleen)</label>:<br>
      <textarea maxlength="5000" id="instructions" name="instructions" rows="5" cols="40">{{ instructions }}</textarea>
    </p>
    <p>
      <label for="category">Valitse soveltuvat luokat</label>:<br>
      {% for category in categories %}
        <input type="checkbox" id="category" name="category" value="{{ category.id }}" {% if category.id in recipe_categories %}checked{% endif %}/>{{ category.category_name }}<br>
      {% endfor %}
    </p>
    <input type="submit" value="Tallenna" />
  </form>

{% endblock %}
