{% extends "layout.html" %}

{% block content %}

  <h2>Etusivu</h2>

  <h3>Selaa reseptejä</h3>

  <p>
    <ul>
      {% for recipe in recipes %}
        <li>
          <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a> (lisännyt <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a>)
        </li>
      {% endfor %}
    </ul>
  </p>

  <p>
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
  </p>

  <h3>Lisää resepti</h3>
  {% if session.user_id %}
    <p>
      <a href="/add_recipe">Reseptin lisäys</a>
    </p>
  {% else %}
    <p>
      <a href="/login">Kirjaudu sisään</a> voidaksesi lisätä reseptejä.
    </p>
  {% endif %}

{% endblock %}
