{% extends "layout.html" %}

{% block content %}

  <h2>Kirjaudu sisään</h2>

  <form action="/login" method="POST">
    <p>
      <label for="username">Tunnus</label>:<br />
      <input type="text" id="username" name="username" {% if username %} value="{{ username }}" {% endif %} />
    </p>
    <p>
      <label for="password">Salasana</label>:<br />
      <input type="password" id="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>

  {% if result %}
    <p>
      <b>{{ result }}</b>
    </p>  
  {% endif %}

  <p>
    Ei tunnusta? <a href="/register">Luo tunnus</a>
  </p>

{% endblock %}
