{% extends "layout.html" %}

{% block content %}

  <h2>Kirjaudu sisään</h2>

  <form action="/login" method="POST">
    <p>
      Tunnus: <br />
      <input type="text" name="username" {% if username %} value="{{ username }}" {% endif %} />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>

  {% if result %}
    <p>
      <b>{{ result }}</b>
    </p>  
  {% endif %}

  <p>
    Ei tunnusta? <a href="/register">Luo tunnus</a>
  </p>

{% endblock %}
