{% extends "layout.html" %}

{% block content %}

  <h2>{{ recipe.title }}</h2>
  
  <p>Lisännyt {{ recipe.username }}.</p>

  {% if session.username %}
    {% if session.username == recipe.username %}
    <p>
      <a href="/edit_recipe/{{ recipe.id }}">Muokkaa</a> | <a href="/delete_recipe/{{ recipe.id }}">Poista heti</a>
    </p>
    {% endif %}
  {% endif %}

  <p>
    Ainekset
    <ul>
      {% for ingredient in ingredients %}
        <li>
          {{ ingredient[0] }}
        </li>
      {% endfor %}
    </ul>
  </p>

  <p>
    Ohje
    <ol>
      {% for instruction in instructions %}
        <li>
          {{ instruction[0] }}
        </li>
      {% endfor %}    
    </ol>
  </p>

  <p>
    Kommentit<br>
    <ul>
      {% for comment in comments %}
        <li>
          "{{ comment.comment }}" ({{ comment.username }})
        </li>
      {% endfor %}
    </ul>
  </p>
  
  {% if session.username %}
  <form action="/recipe/{{ recipe.id }}" method="POST">
    <p>
      Lisää kommentti:
      <input type="text" name="comment" />
    </p>
    <input type="submit" value="Lähetä" />
  </form>
  {% endif %}

{% endblock %}
