{% extends "layout.html" %}

{% block content %}

  <h2>{{ recipe.title }}</h2>

  <p>
    Luokitus:
    {% for category in categories %}
      <a href="/{{ category.id }}/1">{{ category.name }}</a>
      {% if not loop.last %}
        |
      {% endif %}
    {% endfor %}
  </p>

  {% if session.username == recipe.username %}
    <p>
      Oma reseptisi (<a href="/edit_recipe/{{ recipe.id }}">muokkaa</a> | <a href="/delete_recipe/{{ recipe.id }}">poista)</a>
    </p>
  {% else %}
    <p>Lisännyt <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a>.</p>
  {% endif %}

  <h3>Resepti</h3>

  <p>
    Ainekset
    <ul>
      {% for ingredient in ingredients %}
        <li>
          {{ ingredient[0] }}
        </li>
      {% endfor %}
    </ul>
  </p>

  <p>
    Ohje
    <ol>
      {% for instruction in instructions %}
        <li>
          {{ instruction[0] }}
        </li>
      {% endfor %}    
    </ol>
  </p>

  <h3>Arviot</h3>

  {% if grade_count > 0 %}
  <p>
    Keskimääräinen arvio: {{ mean_grade }} / 5 (perustuen {{ grade_count }} arvioon)
  </p>
  <p>
    Käyttäjien arviot:
    <ul>
      {% for review in reviews %}
        <li>
          {{ review.grade }}/5, "{{ review.comment }}" (<a href="/user/{{ review.user_id }}">{{ review.username }}</a>)
        </li>
      {% endfor %}
    </ul>
    </p>
  {% else %}
    <p>Ei vielä arvioita.</p>
  {% endif %}

  {% if session.username %}
    {% if allow_review %}
      <h4>Lisää arvio</h4>
      <form action="/recipe/{{ recipe.id }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <p>
          <label for="grade">Arvosana</label>:
          <select id="grade" name="grade">
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
          </select>
        </p>
        <p>
          <label for="comment">Kommentti</label>:<br>
          <input type="text" id="comment" name="comment" />
        </p>
        <input type="submit" value="Lähetä" />
      </form>
    {% else %}
      <p>Et voi arvioida tätä reseptiä, koska olet jo arvioinut sen tai kyse on omasta reseptistäsi.</p>
    {% endif %}
  {% else %}
    <p><a href="/login">Kirjaudu sisään</a> voidaksesi arvioida reseptin.</p>
  {% endif %}

{% endblock %}
