{% extends "layout.html" %}

{% block content %}

  <h2>Luo tunnus</h2>

  <form action="/register" method="POST">
    <p>
      <label for="username">Tunnus</label>:<br/>
      <input type="text" maxlength="20" id="username" name="username" {% if username %} value="{{ username }}" {% endif %} />
    </p>
    <p>
      <label for="password">Salasana</label>:<br/>
      <input type="password" id="password" name="password1" />
    </p>
    <p>
      <label for="password2">Salasana uudestaan</label>:<br/>
      <input type="password" id="password2" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>

{% endblock %}
